/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    width:100%;
    height:auto;
    margin:0px;
}

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
}

#MainHeader{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Bangers', cursive;
    font-size: 60px;
}

#Copyright{
    float: right;
    color: white;
}



/* MEDIA QUERIES ***************************/

/*****************************

// PHONE

*****************************/

@media (min-width: 239px){}


 
/*****************************

// TABLET

*****************************/

@media (min-width: 767px) {}



/*****************************

// DESKTOP

*****************************/

@media (min-width: 1279px) {}
