{% extends "base.html" %}

{% block title %}
<title>&#10060; Cancel Page</title>
{% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/wine_store/cancel.css' %}">
{% endblock %}

{% block mainBox %}
<div id="CancelPageBox">
    <div id="CancelPageContentBox">
        <h1 id="MainHeader">Wine Store</h1>
        <p id="CancelText">Your transaction has been cancelled. Thank you for your consideration.</p>
    </div>
</div>
{% endblock %}