{% extends "base.html" %}

{% block title %}
<title>&#127863; Buy me a wine</title>
{% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/wine_store/home.css' %}">
{% endblock %}

{% block metaDescription %}
<meta name="description" content="{{ all_meta_description_objs.last.text }}">
{% endblock %}

{% block mainBox %}
<div id="HomePageBox">

    <div id="HomePageContentBox">

        <h1 id="MainHeader">Wine Store</h1>

        <div id="ApplicationBox">
            <img id="MyWineGif" src="{% static 'wine-time.gif' %}" alt="Wine time text on a wine image.">
            <p id="Hook">{{ all_hook_line_ojbs.last.text }} &#10084;&#65039;</p>
            <form id="MessageForm" action="." method="POST">
                {% csrf_token %}
                <label for="full_name" id="full_name_label">Full Name</label>
                <input type="text" id="full_name" name="full_name" required/>
                <label for="email" id="email_label">Email</label>
                <input type="text" id="email" name="email" required/>
                <label for="message" id="message_label">Message</label>
                <textarea id="message" name="message" required></textarea>
                <input type="submit" name="submitMsgBtn" class="donate" value="Donate 5CA$">
            </form>
        </div>

    </div>

</div>
{% endblock %}